* {
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

//Fonts
@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro-Regular.woff') format('woff'),
        url('fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

button:focus,
select:focus,
input:focus {
    outline: none;
}


.container {
    max-width: 100%;
    min-width: 320px;

    .header {
        background-color: #dbdbdb;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 65px 0;

        .header__content {
            flex-basis: 1000px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .header__numbers {
                width: 340px;

                a {
                    font-size: 40px;
                    font-family: 'Myriad Pro Regular';
                    line-height: 46px;
                    font-weight: 500;
                    color: #767676;
                }

                a:hover {
                    color: #555454;
                    transition: .4s;
                }
            }
        }
    }

    .block {
        background: url(../assets/img/bg_form.png) no-repeat center;
        background-size: cover;
        height: 480px;

        .block__content {
            margin: 0 auto;
            width: 1000px;

            .blockForm {
                max-width: 370px;
                padding-top: 65px;
                margin-bottom: 55px;
                margin-left: 100px;

                .blockForm__h1 {
                    font-size: 24px;
                    color: #9da3d7;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .form {
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    background-color: #9da3d7;

                    .form__h1 {
                        font-size: 24px;
                        color: #fff;
                        text-transform: uppercase;
                        margin: 25px 5px;
                        text-align: center;
                        width: 360px;
                    }

                    input {
                        padding: 15px;
                        width: 295px;
                        font-size: 24px;
                        color: #767676;
                        margin-bottom: 25px;
                    }

                    button {
                        width: 326px;
                        font-size: 24px;
                        color: black;
                        text-transform: uppercase;
                        background-color: #ffc087;
                        padding: 17px 88px;
                        border: none;
                        margin-bottom: 50px;
                    }

                    button:hover {
                        background-color: #fca559;
                        transition: 0.4s ease;
                    }
                }

            }
        }
    }

    .slider {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;

        .slider__h1 {
            font-size: 24px;
            color: #9da3d7;
            text-transform: uppercase;
            padding-top: 45px;
            margin-bottom: 25px;
        }

        .slider__imgs {
            box-sizing: border-box;
            width: 707px;
            height: 305px;
            border: 10px solid white;
            box-shadow: 0px 0px 15px #c4c0c0;
            background-color: #b1e1a3;
            margin-bottom: 25px;
        }

        .slider__radio {
            input:last-child {
                margin-right: 0;
            }

            input {
                box-sizing: border-box;
                border: 5px solid #8d6363;
                width: 35px;
                height: 35px;
                margin-right: 20px;
            }
        }
    }

    .blockText {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 75px;

        .blockText__h1 {
            font-size: 24px;
            color: black;
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        .blockText__p {
            font-size: 14px;
            max-width: 1000px;
            text-align: justify;
        }
    }

    .calc {
        display: flex;
        flex-flow: column wrap;
        align-content: center;

        .calc__h1 {
            font-size: 24px;
            font-weight: 600;
            color: #9da3d7;
            text-transform: uppercase;
            text-align: center;
        }

        .calc__h1:nth-child(2) {
            margin-bottom: 40px;
        }

        .calc__list {
            display: flex;
            flex-flow: row wrap;
            max-width: 1000px;
            height: 180px;
            margin-bottom: 40px;

            .calc__typeWindow {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                align-items: center;
                margin-right: 60px;

                a {
                    font-size: 14px;
                    font-weight: 700;
                    color: black;
                }

                a:hover {
                    color: #0099de;
                    text-decoration: underline;
                    transition: 0.2s;
                }
            }

            .calc__typeWindow:last-child {
                margin-right: 0;
            }
        }

        .calc__calculation {
            width: 970px;
            height: 520px;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 1px 1px 10px grey;
            margin-bottom: 100px;
            display: flex;
            flex-flow: row wrap;

            .calc__1 {
                width: 290px;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                position: relative;
                margin-left: 35px;

                .calc__p {
                    font-size: 22px;
                    font-style: italic;
                    font-weight: 600;
                    color: #636363;
                    margin-bottom: 35px;
                    margin-top: 35px;
                }

                .calc__p:nth-child(2) {
                    transform: rotate(-90deg);
                    position: absolute;
                    top: 130px;
                    left: 10px;
                }

                .calc__sizes {
                    width: 280px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 30px;
                    position: relative;

                    .calc__size {
                        p {
                            font-size: 20px;
                            margin-bottom: 13px;
                        }

                        input {
                            width: 90px;
                            border: 2px solid gray;
                            border-radius: 8px;
                            font-size: 24px;
                            color: #5d5d5d;
                            padding: 8px 20px;
                            box-sizing: border-box;
                        }
                    }

                    span {
                        font-size: 22px;
                        font-weight: 600;
                        color: #0099de;
                        position: absolute;
                        top: 46px;
                        left: 132px;
                    }
                }
            }

            .calc__2 {
                margin-left: 80px;
                margin-top: 50px;

                .calc__h2 {
                    font-size: 30px;
                    font-weight: 700;
                    color: #0099de;
                    margin-bottom: 37px;
                }

                .calc__p {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }

                .calc__radio {
                    display: flex;
                    flex-flow: row nowrap;
                    margin-bottom: 60px;
                    width: 560px;

                    input[type=radio] {
                        display: none;
                    }

                    label {
                        position: relative;
                        font-size: 18px;
                        padding-left: 40px;
                        cursor: pointer;
                    }

                    label:last-child {
                        margin-right: 0;
                    }

                    label:before {
                        content: '';
                        display: inline-block;
                        box-sizing: border-box;
                        width: 20px;
                        height: 20px;
                        border: 2px solid #918f8f;
                        border-radius: 50%;
                        position: absolute;
                        left: 15px;
                        bottom: 0px;
                        background-color: #fff;

                    }

                    input[type=radio]:checked+label:before {
                        content: "\2022";
                        color: #918f8f;
                        font-size: 42px;
                        text-align: center;
                        line-height: 17px;
                    }
                }

                select {
                    font-size: 18px;
                    line-height: 41px;
                    padding: 13px 25px;
                    border-radius: 15px;
                    border: 2px solid gray;
                    width: 358px;
                    box-sizing: border-box;
                    // -webkit-appearance: none;
                    // -moz-appearance: none;
                    // appearance: none;
                    position: relative;

                }
            }

            .calc__form {
                position: relative;
                margin-left: 170px;

                img {
                    border-radius: 10px;
                    position: absolute;
                    top: 4px;
                    left: 2px;
                }

                input[type=tele] {
                    width: 280px;
                    padding: 15px 0 15px 62px;
                    color: #424242;
                    font-size: 18px;
                    background-color: #c6c6c6;
                    border: none;
                    border-radius: 12px;
                    margin-right: 20px;
                }

                button {
                    font-size: 20px;
                    font-weight: 700;
                    color: #fff;
                    background-color: #9da3d7;
                    padding: 14px 83px;
                    border-radius: 12px;
                    border: none;
                }

                button:hover {
                    background-color: #5b66c9;
                    transition: .3s;
                }
            }
        }
    }

    .footer {
        width: 100%;
        height: 148px;
        background-color: #777777;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        .footer__content {
            width: 1000px;

            // margin: 0 auto;
            .footer__p {
                color: #fff;
                font-size: 24px;
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:599px) {
    .container {
        .header {
            padding: 5px 5px;
            width: 75%;
            text-align: center;

            .header__content {
                .logo {
                    img {
                        width: 80%;
                    }
                }

                .header__numbers {
                    a {
                        font-size: 1.9rem;
                    }
                }

            }
        }

        .block {
            width: 78%;
            height: 60vh;

            .block__content {
                width: 78vw;

                .blockForm {
                    margin: 0;
                    padding-top: 5px;

                    .blockForm__h1 {
                        font-size: 1.5rem;
                    }

                    .form {
                        display: block;
                        width: 78vw;
                        text-align: center;

                        .form__h1 {
                            font-size: 1rem;
                            width: 240px;
                            padding: 5px 0px;
                            margin: 10px 5px;
                        }

                        input {
                            width: 82%;
                            border: none;
                        }

                        button {
                            padding: 15px 0px;
                            width: 94%;
                        }
                    }
                }
            }
        }

        .slider {
            width: 80%;
            display: block;
            text-align: center;
            margin-bottom: 15px;

            .slider__h1 {
                font-size: 1.4rem;
            }

            .slider__imgs {
                width: 78vw;
            }
        }

        .blockText {
            width: 70vw;
            padding: 0px 15px;
            margin-bottom: 15px;

            .blockText__h1 {
                text-align: center;
            }
        }

        .calc {
            width: 78vw;
            display: block;

            .calc__h1 {
                font-size: 1rem;
            }
            .calc__list{
                text-align: center; 
            }
        }
    }
}